.mind-sec {
  width: 100%;
  overflow: hidden;
  /* background-color: red; */
}

.mind-sec .upper-section {
  width: 60% !important;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
}

.mind-sec .upper-section .content {
  /* background-color: red; */
  display: flex;
}

.mind-sec .upper-section .details {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mind-sec .upper-section .details .name {
  font-family: "Trap600";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: right;

  color: #000000;
}

.mind-sec .upper-section .details .work {
  font-family: "Trap500";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  color: #000000;
  padding-top: 10px;
}

.mind-sec .bottom-section {
  padding-top: 30px;
}

.mind-sec .bottom-content {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 180px;
}

.mind-sec .bottom-content .left {
  font-family: "Trap400";
  font-style: normal;
  font-weight: 400;
  font-size: 48.1529px;
  line-height: 53px;

  color: #000000;
}

.mind-sec .bottom-content .right {
  margin-right: 110px;
}

.mind-sec .bottom-content .right .release {
  text-align: end;

  font-family: "Trap400";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: #000000;
}

.mind-sec .bottom-content .right .date {
  font-family: "Trap500";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 31px;

  color: #000000;
  padding-top: 10px;
}
