/* apply Now */

.apply-now {
  background-color: #f3f3f3;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.apply-now .apply-now-inner {
  height: 100%;
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.apply-now .apply-now-inner h1 {
  font-family: "Trap500";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}

.apply-now .apply-now-inner p {
  font-family: "Trap400";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  text-align: center;

  color: #000000;
}

.apply-now .apply-now-inner button {
  background: #000000;

  font-family: "Trap300";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  padding: 12px 37px;
}

/* FAQs */

.section-content {
  padding: 20px 0 120px 0;
  display: flex;
  justify-content: center;
}
.faq .section-heading h2 {
  font-family: "Trap700";
  font-style: normal;
  font-weight: 700;
  font-size: 46.4846px;
  line-height: 51px;
  text-transform: capitalize;
  text-align: center;
  color: #000000;
  padding-top: 80px;
  position: relative;
}

.faq .section-heading p {
  font-family: "Trap500";
  font-style: normal;
  font-weight: 500;
  font-size: 32.7056px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.faq .accord {
  --bs-accordion-border-width: 0px;
  margin-top: 0px;
  background-color: transparent !important;
}

.faq .accordion-button:focus {
  border: none !important;
  box-shadow: none !important;
}

.faq .accordion-button {
  /* font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  background: transparent; */

  font-family: "Trap500";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;
  text-align: center;

  color: #000000;
  display: flex;
  justify-content: space-between;
}
.faq .diamond {
  margin-right: 1.5rem;
}
.accordion-button::after {
  /* display: none; */
}
.faq .accordion-body {
  background: #232323;
  margin-left: 4rem;
  padding: 25px 25px;
  font-family: "Trap400";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  width: 750px;
}

.faq .onoff {
  margin-left: 1rem;
  margin-bottom: 5px;
}
.faq .accordion-item {
  background: transparent !important;
  border: none;
}

.accordion-button::after {
  flex-shrink: 0;
  margin-left: auto;
  content: "";
  background-image: url("../../../asset/faqs/openaccordian.svg") !important;
  background-repeat: no-repeat;
  margin-left: 1rem;
  /* margin-right: 1px;
  background-color: red; */
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../../../asset/faqs/closeaccordian.svg") !important;
}

.faq .accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none;
}

@media screen and (max-width: 1080px) {
  .apply-now .apply-now-inner p {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 600px) {
  .faqfootback .section-content {
    padding: 0px 0 30px 0;
    display: flex;
    justify-content: center;
  }
  .faq .accordion-button {
    font-size: 20px !important;
    line-height: 24px !important;
    text-align: left !important;
    padding: 10px;
  }
  .faq .section-heading h2 {
    font-size: 40px;
    line-height: 50px;
    padding-top: 40px;
    position: relative;
    width: fit-content;
    margin: auto;
  }
  .faq .section-heading h2::after {
    width: 100%;
  }
  .faqfootback .divider {
    padding: 1px 80px !important;
  }
}
