.f-main {
  background-color: black;
  width: 100%;
  overflow: hidden;

  color: white;
}

.f-main .f-inner {
  /* background-color: red; */
  width: 90%;
  margin: 0 auto;
}

.f-main .f-first-coulmn {
  padding: 100px 0px;
}

.f-main .sell-art {
  font-family: "Trap400";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;

  color: #ffffff;
  padding-top: 40px;
}

.f-main .f-second-coulmn {
  padding-top: 135px;
  padding-bottom: 50px;
  text-align: center;
}

.f-main .f-links {
  font-family: "Trap500";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;

  color: #ffffff;
  cursor: pointer;

  display: flex;
  justify-content: space-around;
}

.f-main .f-copyright {
  padding-top: 60px;

  font-family: "Trap400";
  font-style: normal;
  font-weight: 400;
  font-size: 22.5684px;
  line-height: 25px;

  color: #ffffff;
}

.f-main .f-third-coulmn {
  padding-top: 130px;
  text-align: center;
}

.f-main .f-social-icons a {
  padding: 0px 20px;
}

@media screen and (max-width: 1441px) {
  .f-main .f-links {
    font-size: 14px;
  }
  .f-main .f-copyright {
    font-size: 16px;
  }

  .f-main .sell-art {
    font-family: "Trap400";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    padding-top: 40px;
  }
}

@media screen and (max-width: 1080px) {
  .f-main .sell-art {
    font-family: "Trap400";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    padding-top: 30px;
  }
  .f-main .f-links {
    font-size: 11px;
  }
  .f-main .f-copyright {
    padding-top: 40px;
    font-family: "Trap400";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
  }
}
